# 时婷婷-19金融工程-51905081047

## 1.导入包

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from plotly.graph_objs import *
import colorlover as cl
%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', 200)
pd.set_option('expand_frame_repr', False)

## 2.读取数据

In [2]:
df = pd.read_csv('athlete_events.csv')
df.head(5)

   ID                      Name Sex   Age  Height  Weight            Team  NOC        Games  Year  Season       City          Sport                             Event Medal
0   1                 A Dijiang   M  24.0   180.0    80.0           China  CHN  1992 Summer  1992  Summer  Barcelona     Basketball       Basketball Men's Basketball   NaN
1   2                  A Lamusi   M  23.0   170.0    60.0           China  CHN  2012 Summer  2012  Summer     London           Judo      Judo Men's Extra-Lightweight   NaN
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark  DEN  1920 Summer  1920  Summer  Antwerpen       Football           Football Men's Football   NaN
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War       Tug-Of-War Men's Tug-Of-War  Gold
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands  NED  1988 Winter  1988  Winter    Calgary  Speed Skating  Speed Skating Women's 500 metres   NaN

## 3.查看数据中各个字段的空值的个数

In [16]:
print(df[df['Sex']=='M'].value_counts())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [18]:
df['Sex']=='M'.count()

TypeError: count() takes at least 1 argument (0 given)

In [ ]:
list

In [ ]:
plt.bar(df['Sex']=='M', df['Sex']=='M')
plt.bar(df['Sex']=='F', df['Goals'])
plt.xticks(rotation=90)
plt.xlabel('Years')
plt.ylabel('Numbers')
plt.show()

In [ ]:
plt.bar(df['Year'], +df['Shots on target'], label='Shots on target')
plt.bar(df['Year'], -df['Shots off target'], label='Shots off target')
plt.title("Teams' Shots on / off target")
plt.xticks(rotation=90)
plt.legend()
plt.xlabel('Teams')
plt.ylabel('Shots on / off target')
plt.show()

## 4.那不同地区参赛人数

In [6]:
df[df['NOC']].value_counts()

USA    18853
FRA    12758
GBR    12256
ITA    10715
GER     9830
CAN     9733
JPN     8444
SWE     8339
AUS     7638
HUN     6607
POL     6207
SUI     6150
NED     5839
URS     5685
FIN     5467
ESP     5313
RUS     5143
CHN     5141
AUT     5141
NOR     4960
KOR     4464
ROU     4405
TCH     4404
BEL     3857
BRA     3848
DEN     3570
BUL     3530
FRG     3315
ARG     3297
GRE     3181
MEX     2880
GDR     2645
YUG     2583
UKR     2559
CUB     2479
NZL     2342
CZE     1874
BLR     1787
RSA     1711
EGY     1622
POR     1522
KAZ     1429
IND     1408
TUR     1356
IRL     1325
SLO     1111
TPE     1097
COL     1069
SVK     1055
LUX      996
LAT      951
PUR      927
VEN      925
CHI      925
NGR      882
EST      876
CRO      876
EUN      864
JAM      848
PRK      807
IRI      789
KEN      772
THA      747
PHI      694
HKG      685
MAR      682
ISR      665
LTU      654
ISL      627
URU      576
PAK      562
TUN      561
ALG      551
MGL      550
PER      532
MAS      530
UZB      495
GUA      425
INA      412
SEN      393
SRB      392
ETH      378
TTO      375
BAH      374
LIE      369
GHA      359
SGP      349
LIB      329
SCG      321
CMR      312
ZIM      311
ISV      294
GEO      286
KUW      284
AZE      283
DOM      277
ECU      277
ANG      267
CRC      264
UGA      260
MDA      234
FIJ      232
IRQ      232
KSA      230
KGZ      227
CYP      225
ARM      221
BAR      219
ESA      218
BER      212
MON      197
CIV      193
QAT      192
HON      189
ZAM      183
SMR      181
AND      169
TAN      161
SYR      156
VIE      154
BOH      153
BOL      152
SRI      146
MRI      144
UAE      144
PAN      139
PAR      135
BIH      134
ANT      133
NCA      129
AFG      126
BRN      126
UAR      123
MAD      119
MLT      118
SLE      114
GUM      112
SEY      111
MYA      111
PNG      108
SUD      107
HAI      106
CGO      105
GUY      102
IOA       94
NEP       94
MNE       94
COD       93
SAA       93
MLI       92
BOT       90
MAW       87
ANZ       86
MKD       84
LBA       84
CAY       83
JOR       80
AHO       79
MOZ       78
NAM       77
BIZ       76
LBR       74
GUI       73
BEN       71
TJK       70
ALB       70
SUR       69
CAF       67
SWZ       67
OMA       66
LES       66
CAM       63
GAB       63
SAM       63
VNM       62
TOG       59
GAM       56
RWA       56
BAN       55
TKM       54
GRN       54
LAO       54
MDV       49
NIG       47
TGA       46
IVB       45
MAL       45
BUR       44
ERI       43
ARU       42
VIN       42
SKN       42
CHA       41
COK       40
GEQ       40
BDI       39
DJI       38
ASA       37
BHU       36
VAN       35
YEM       32
SOM       32
MTN       29
LCA       28
SOL       27
FSM       26
PLW       25
PLE       21
GBS       21
WIF       20
DMA       19
COM       19
CPV       18
STP       15
MHL       14
NRU       13
RHO       12
ROT       12
KIR       11
CRT       11
YAR       11
BRU       10
TLS        9
KOS        8
TUV        7
YMD        5
SSD        3
UNK        2
NBO        2
NFL        1
Name: NOC, dtype: int64

## 5.不同运动项目男女人数

## 6.不同比赛项目